
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    <b>Import Excel files</b>
    <ul>
        <li>
            <a href="@Url.Action("Index","Excel")?Action=ImportCustomers">Customers Data</a>
        </li>
        <li>
            <a href="@Url.Action("Index","Excel")?Action=ImportDeclare">Declaration Data</a>
        </li>
    </ul>
</p>
<p>
    <b>Master Files</b>
    <ul>
        <li>
            <a href="@Url.Action("Index","Default")?Action=Customers">Customers</a>
        </li>
    </ul>
</p>
<p>
    <b>Databases</b>
    <ul>
        <li>
            <a href="@Url.Action("Index","Default")?Action=Declare">Declarations</a>
        </li>
    </ul>
</p>